<app-header></app-header>

<div class="container">
  <h1 class="page-title">Finanças</h1>

  <ul class="financial-list">
    @for (financial of financials; track financial.id) {
    <li
      [ngClass]="{
        'financial-item-paid': financial.isPaid,
        'financial-item-unpaid': !financial.isPaid
      }"
    >
      <div class="financial-info">
        <p class="financial-name">
          <strong>{{ financial.name }}</strong>
        </p>
        <p><strong>Data:</strong> {{ financial.date }}</p>
        <p>
          <strong>Data de Pagamento Limite:</strong>
          {{ financial.dateToPay }}
        </p>
        <p>
          <strong>Status:</strong>
          {{ financial.isPaid ? "Está Paga" : "Não está Paga" }}
        </p>
        <p><strong>Valor:</strong> R$ {{ financial.value }}</p>
        <button (click)="handleLinkFinancial(financial.id)" class="btn-access">
          Acessar
        </button>
      </div>
    </li>
    } @if(financials.length === 0){
    <li class="empty-list">Não há finanças disponíveis no momento.</li>
    }
  </ul>
</div>

<app-footer></app-footer>
