<div class="sell-inspector">
  <h2>Informações da venda:</h2>
  @if (sell) {
  <form
    [formGroup]="editFormGroup"
    (ngSubmit)="handleSubmit()"
    class="sell-form"
  >
    <div class="form-group">
      <label for="dateOfSell">Data da venda</label>
      <input
        id="dateOfSell"
        formControlName="dateOfSell"
        type="text"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="dateToInstall">Data para instalar</label>
      <input
        id="dateToInstall"
        formControlName="dateToInstall"
        type="text"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="isPaid">Está pago: {{ sell.isPaid ? "Sim" : "Não" }}</label>
      <select id="isPaid" formControlName="isPaid" class="form-control">
        <option [value]="true">Sim</option>
        <option [value]="false">Não</option>
      </select>
    </div>
    <div class="form-group">
      <label for="value">Valor</label>
      <input
        id="value"
        formControlName="value"
        type="number"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="paymentMethod"
        >Método de Pagamento:
        {{ sell.paymentMethod.toLocaleUpperCase() }}</label
      >

      <select
        formControlName="paymentMethod"
        id="paymentMethod"
        class="form-control"
      >
        @for (method of paymentMethods; track $index) {
        <option [value]="method.name">
          {{ method.name.toLocaleUpperCase() }}
        </option>
        }
      </select>
    </div>
    <div class="add-product">
      <h3>Adicionar novo produto ao cliente</h3>
      <div formGroupName="addProductGroup">
        <div class="form-group">
          <select
            formControlName="productId"
            id="customerProduct"
            class="form-control"
          >
            <option value="">Selecione um produto</option>
            @for (product of products; track product.id) {
            <option [value]="product.id">{{ product.name }}</option>
            }
          </select>
        </div>
        <div class="form-group">
          <label for="quantityProduct">Quantidade:</label>
          <input
            type="number"
            formControlName="quantityProduct"
            placeholder="Quantidade"
            class="form-control"
            id="quantityProduct"
          />
        </div>
        <button (click)="handleAddProduct()" type="button" class="btn btn-add">
          Adicionar
        </button>
      </div>
    </div>
    <div formArrayName="quantity" class="form-group">
      <label for="products">Produtos</label>
      <ul id="products" class="product-list">
        @for (product of sell.sellProducts; track $index) {
        <li class="product-item">
          <p>
            Nome produto :
            {{ sell.products[$index].name }}
          </p>
          <p>
            Quantidade:
            <input
              [formControlName]="$index"
              type="number"
              placeholder="Quantity"
              class="form-control"
              (keypress)="keyupTest()"
            />
          </p>
          <p>Valor: R${{ sell.products[$index].value }}</p>
          <p>
            Valor Total: R${{ sell.products[$index].value * product.quantity }}
          </p>
          <button
            type="button"
            class="btn btn-remove"
            (click)="removeProduct(product.id)"
          >
            Remover
          </button>
        </li>

        }
      </ul>
    </div>
    <h3>Total : R${{ sell.value }}</h3>
    <button type="submit">Editar</button>
  </form>
  }
</div>
