<app-header></app-header>

<div class="full-screen-container">
  <div class="container">
    <div class="financial-item">
      <p><strong>Nome:</strong> {{ financial.name }}</p>
      <p><strong>Data de Pagamento:</strong> {{ financial.dateToPay }}</p>
      <p><strong>Valor:</strong> R$ {{ financial.value }}</p>
      @if(financial.isFixed){
      <p><strong>É fixa:</strong> <span class="status status-yes">Sim</span></p>
      }@else {
      <p><strong>É fixa:</strong> <span class="status status-no">Não</span></p>
      } @if(financial.isPaid){
      <p>
        <strong>Está paga:</strong> <span class="status status-yes">Sim</span>
      </p>
      }@else {
      <p>
        <strong>Está paga:</strong> <span class="status status-no">Não</span>
      </p>
      }
    </div>
  </div>
</div>

<app-footer></app-footer>
