/* Estilos para o container principal */
.product-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.product-container h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* Estilos para o formulário de edição */
.product-details {
  margin-top: 20px;
}

.product-details form {
  max-width: 600px; /* largura máxima do formulário */
}

.product-details p {
  margin-bottom: 10px;
}

.product-details strong {
  font-weight: bold;
}

.product-details input[type="text"],
.product-details input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.product-details button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.product-details button[type="submit"]:hover {
  background-color: #0056b3;
}
