<div class="container">
  <h1 class="page-title">Vendas Cadastradas</h1>

  <div class="navbar">
    <ul class="nav-list">
      <li class="nav-item">
        <button (click)="viewMode = 'listar'" class="nav-button">
          Listar Vendas
        </button>
      </li>
      <li class="nav-item">
        <button (click)="viewMode = 'criar'" class="nav-button">
          Criar Nova Venda
        </button>
      </li>
    </ul>
  </div>

  @if (viewMode === 'listar') {
  <div class="list-view">
    <div class="search-container">
      <input
        type="text"
        class="search-input"
        placeholder="Buscar Vendas..."
        [formControl]="searchQuery"
        (keyup)="search()"
      />
    </div>

    <ul class="sell-list">
      @for (sell of sells; track sell.id) {
      <li class="sell-item">
        <div class="sell-info">
          <p class="sell-dateOfSell">Data da Venda: {{ sell.dateOfSell }}</p>
          @if(sell.isPaid){
          <p>Está paga : Sim</p>
          }@else {
          <p>Está paga : Não</p>
          }
          <p class="sell-dateToInstall">
            Data da Instalação: {{ sell.dateToInstall }}
          </p>
          <p class="sell-value">Valor: R$ {{ sell.value }}</p>
          <p class="sell-paymentMethod">
            Método de Pagamento: {{ sell.paymentMethod }}
          </p>
          <div class="sell-customer">
            <h3>Cliente</h3>
            <p>Nome: {{ sell.customer.name }}</p>
            <p>Endereço: {{ sell.customer.address }}</p>
          </div>
          <div class="sell-products">
            <h3>Produtos</h3>
            <ul class="product-list">
              @for (product of sell.products; track $index) {
              <li class="product-item">
                <p><strong>Nome:</strong> {{ product.name }}</p>
                <p>
                  <strong>Quantidade adquirida pelo cliente :</strong>
                  {{ sell.sellProducts[$index].quantity }}
                </p>
                <p>
                  <strong>Quantidade no estoque:</strong> {{ product.quantity }}
                </p>
              </li>
              }
            </ul>
          </div>
        </div>
        <div class="sell-actions">
          <button (click)="handleGoToSellPage(sell.id)" class="action-button">
            Acessar
          </button>
        </div>
        <div class="sell-actions">
          <button (click)="deleteSell(sell.id)" class="action-button">
            Deletar
          </button>
        </div>
      </li>
      }
    </ul>
  </div>
  } @if (viewMode === 'criar') {
  <div class="create-view">
    <form
      [formGroup]="sellFormGroup"
      (ngSubmit)="handleSubmit()"
      class="sell-form"
    >
      <div class="form-group">
        <label for="dateOfSell">Data da Venda:</label>
        <input
          formControlName="dateOfSell"
          type="text"
          id="dateOfSell"
          name="dateOfSell"
          required
          class="form-input"
        />
      </div>
      <div class="form-group">
        <label for="dateToInstall">Data de Instalação:</label>
        <input
          formControlName="dateToInstall"
          type="text"
          id="dateToInstall"
          name="dateToInstall"
          required
          class="form-input"
        />
      </div>

      <div class="form-group">
        <label for="paymentMethod">Método de Pagamento:</label>
        <select
          formControlName="paymentMethod"
          id="paymentMethod"
          required
          class="form-input"
        >
          <option value="">Selecione um método de pagamento</option>
          @for (method of paymentMethods; track method.id) {
          <option [value]="method.id">
            {{ method.name }}
          </option>
          }
        </select>
      </div>
      <div class="form-group">
        <label for="customer">Cliente:</label>
        <select
          formControlName="customer"
          id="customer"
          required
          class="form-input"
        >
          <option value="">Selecione um cliente</option>
          @for (customer of customers; track customer.id) {
          <option [value]="customer.id">
            {{ customer.name }}
          </option>
          }
        </select>
      </div>
      <div class="form-group" id="form-group">
        <form [formGroup]="productsFormGroup" (ngSubmit)="addProduct()">
          <label for="customerProduct">Produto:</label>
          <select
            formControlName="products"
            id="customerProduct"
            required
            class="form-input"
          >
            <option value="">Selecione um produto</option>
            @for (product of products; track product.id) {
            <option [value]="product.id">
              {{ product.name }}
            </option>
            }
          </select>
          <input
            formControlName="quantity"
            type="number"
            placeholder="Quantidade"
          />
          <button>Adicionar</button>
          <div class="products-selected">
            <p>Produtos Selecionados!</p>

            @for(product of productsFormArray; track $index){
            <p>{{ product.name }}</p>
            <p>R${{ product.value }} unidade</p>
            <p>Quantidade : {{ quantityChosed[$index] }}</p>
            <p>Editar quantidade:</p>
            <input
              type="number"
              [value]="quantityChosed[$index]"
              name="quantity"
              id="quantity"
              [formControl]="quantityInput"
              (keyup)="attQuantity($event, $index)"
            />
            <br />
            <button (click)="acessProduct(product.id)">Acessar produto</button>
            <h3>
              Valor total deste produto: R${{ produtctAndQuantity[$index] }}
            </h3>
            <hr />
            <br />
            }
          </div>
          <h3>Valor Total : R${{ productTotalValue }}</h3>
        </form>
      </div>
      <button type="submit" class="btn-submit">Criar Venda</button>
    </form>
  </div>
  }
</div>
