/* Estilos gerais para o container principal */
.container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.page-title {
  font-size: 32px;
  margin-bottom: 20px;
}

/* Estilos para a barra de navegação */
.navbar {
  margin-bottom: 20px;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  margin-right: 10px;
}

.nav-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #0056b3;
}

/* Estilos para a visualização de listagem de vendas */
.list-view {
  margin-top: 20px;
}

.search-container {
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.sell-list {
  list-style-type: none;
  padding: 0;
}

.sell-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}

.sell-info {
  margin-bottom: 10px;
}

.sell-dateOfSell,
.sell-dateToInstall,
.sell-value,
.sell-paymentMethod {
  margin-bottom: 5px;
}

.sell-customer {
  margin-bottom: 10px;
}

.sell-customer h3,
.sell-products h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.product-list {
  list-style-type: none;
  padding: 0;
}

.product-item {
  margin-bottom: 10px;
}

.sell-actions {
  margin-top: 10px;
}

.action-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.action-button:hover {
  background-color: #c82333;
}

/* Estilos para a visualização de criação de nova venda */
.create-view {
  margin-top: 20px;
}

.sell-form {
  max-width: 600px;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 15px;
}

.form-input {
  width: calc(100% - 20px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-input[type="number"] {
  width: 100px;
}

.btn-submit {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #218838;
}

.products-selected {
  margin-top: 20px;
}

.products-selected p,
.products-selected h3 {
  margin-bottom: 5px;
}

/* Estilos específicos para produtos selecionados */
.products-selected input[type="number"] {
  width: 80px;
  padding: 5px;
  margin-bottom: 10px;
}

.products-selected button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.products-selected button:hover {
  background-color: #0056b3;
}
