.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  min-height: calc(100vh - 285px); /* Altura mínima da viewport menos 100px */
}
h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.user-info {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.user-info p {
  font-size: 1.2rem;
  color: #666;
  margin: 10px 0;
}

.user-info p strong {
  font-weight: bold;
  margin-right: 10px;
}

.user-info p:last-child {
  margin-bottom: 0;
}
