.container {
  margin: 0 auto 30px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  text-align: center; /* Centraliza o texto */
}

.welcome-message {
  font-size: 24px;
  margin-bottom: 10px;
}

.date {
  margin-bottom: 10px;
}

.task-prompt {
  margin-bottom: 20px;
}

.financial-section {
  margin: 0 auto 30px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  text-align: center; /* Centraliza o texto */
}

.financial-section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.financial-list {
  list-style-type: none;
  padding: 0;
}

.financial-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  text-align: left; /* Alinha o texto à esquerda */
}

.financial-item p {
  margin-bottom: 5px;
}

.linkButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.linkButton:hover {
  background-color: #0056b3;
}

.customer-info {
  margin: 0 auto 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  text-align: center; /* Centraliza o texto */
}

.customer-info p {
  margin-bottom: 5px;
}

.product-name {
  font-weight: bold;
}

.product-value {
  margin-bottom: 5px;
}

.product-info {
  margin: 0 auto 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  text-align: center; /* Centraliza o texto */
}

.product-info p {
  margin-bottom: 5px;
}

.product-name {
  font-weight: bold;
}

.product-value {
  margin-bottom: 5px;
}

.sell-info {
  margin: 0 auto 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  text-align: center; /* Centraliza o texto */
}

.sell-info p {
  margin-bottom: 5px;
}

.customer-name {
  font-weight: bold;
}

.install-date {
  margin-bottom: 10px;
}

.sell-value {
  margin-bottom: 10px;
}

.product-name {
  font-weight: bold;
}

.product-value {
  margin-bottom: 5px;
}

.linkButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.linkButton:hover {
  background-color: #0056b3;
}
